.form {
    height: 100%;
    display: flex;
    flex-direction: column;

    .button {
        background-color: #005CC8;
        border: none;
        border-radius: 10px;
        padding: 10px 20px;
        font-weight: bold;
        color: #fff;
    }
}