* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  margin: auto;
  display: flex;
  justify-content: center;
  font-family: roboto, sans-serif;
  position: relative;
  height: 100vh;
  align-items: center;

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    height: fit-content;

    ul {
      display: flex;
      list-style: none;
      flex-direction: column;
      gap: 50px;

      >li {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
          background-color: #ddd;
          border-radius: 5px;
        }
      }
    }
  }

 
}