.searchField {
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 34px;
    height: 37px;

    .input {
        border: none;
        background: transparent;
        outline: transparent;
        height: 37px;
    }

    .searchIcon,
    .resetIcon {
        font-size: 24px;
        cursor: pointer;
    }

    .resetIcon {
        margin-left: auto;
    }
}